<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VendorInformationSystem.Properties.Settings.dbVISConnectionString"
            connectionString="Data Source=cpcomm;Initial Catalog=dbVIS;User ID=sa;Password=skinhead"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>